<!DOCTYPE html>
<html lang="en-GB">
<head>
    <title><layout-placeholder name="page-title">Head page title</layout-placeholder></title>
</head>
<body>
<h1><layout-placeholder name="page-title">Page title</layout-placeholder></h1>
<layout-placeholder name="body"></body>
</html>

